 <div class="labs-sharing">
                    
                        <a href="http://www.facebook.com/dialog/feed?app_id=510520015632042&amp;caption=iknow.io%20labs&amp;link=https%3A//iknow.io/labs/&amp;picture=&amp;redirect_uri=https%3A//iknow.io/labs/%23close-sharep" title="Share this page on Facebook!" data-ga-category="Social"  data-ga-action="Share - facebook" data-ga-label="" target="_blank" class="btn-share facebook_button analytic-event btn-popup" data-popup-width="600" data-popup-height="320" data-popup-url="http://www.facebook.com/dialog/feed?display=popup&app_id=510520015632042&amp;caption=iknow.io%20labs&amp;link=https%3A//iknow.io/labs/&amp;picture=&amp;redirect_uri=https%3A//iknow.io/labs/%23close-sharep">
  <span class="share-icon" ></span><span class="hidden-phone">Share On </span>Facebook
</a>


                        <a href="http://twitter.com/intent/tweet?related=&amp;text=iknow.io%20labs%20%28via+%40iknowio%29&amp;url=https%3A//iknow.io/labs/" title="Share this page on Twitter!" data-ga-category="Social" data-ga-action="Share - twitter" data-ga-label="" data-popup-width="600" data-popup-height="270" target="_blank" class="btn-share twitter_button analytic-event btn-popup">
  <span class="share-icon" ></span><span class="hidden-phone">Share On </span>Twitter
</a>

                    
                </div>
            