---
layout: default
---

<article class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</article>

{% for post in site.posts %}
	{% if post.tags contains page.tag %}
	    <article class="post">    
	      <div class="eyebrow">{{ post.date | date: "%d %b %Y" }}</div>
	      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

	      <div class="entry">
	        <p>{{ post.desc }}</p>
	        {{ post.content | truncatewords:40}}
	  </div>
	      
	      <!-- <a href="{{ post.proj-url }}" class="small-link primary-link" target="_blank">View Project Site <i class="fa fa-external-link"></i></a> -->
	      <a href="{{ site.baseurl }}/{{ post.ID }}" class="small-link">Read more</a>
	    </article>
	{% endif %}
{% endfor %}