---
layout: default
---

<article class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</article>

{% for post in site.posts %}
	{% if post.tags contains page.tag %}
	    <article class="post">
	      <div class="eyebrow">{{ post.date | date: "%d %b %Y" }}</div>
	      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

	      <div class="entry">
	        <p>{{ post.desc }}</p>
	        {{ post.content }}
	       </div>

	    </article>
	{% endif %}
{% endfor %}
